.button-back {
    position: fixed;
    /* Mantém o botão fixo na tela */
    top: 10px;
    /* Ajusta a posição no topo */
    left: 10px;
    /* Ajusta a posição na lateral */
    color: #333;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #f4f6f9;
    /* Cor de fundo para contraste */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1000;
    /* Coloca o botão acima de outros elementos */
}

.button-back i {
    font-size: 18px;
}

.button-back:hover {
    background-color: #7d7e7d;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #cce7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pdv-container {
    width: 90%;
    height: 850px;
    max-width: 1200px;
    background-color: #e7f3ff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.pdv-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #2196f3;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.content-section {
    display: flex;
    gap: 20px;
    flex: 1;
}

.cart-container {
    width: 300px;
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.cart-container h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.cart-coupons {
    flex: 1;
    overflow-y: auto; /* Ativa o scrollbar vertical se necessário */
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px; /* Define uma altura máxima */
}


.coupon {
    background: white;
    border: 2px dashed #333;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.coupon-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.coupon-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.coupon button {
    margin-top: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.coupon button:hover {
    background-color: #c82333;
}

.search-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table-container {
    flex: 2;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f0f0f0;
}

.totals-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.totals-section span {
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.actions button {
    flex: 1;
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.actions button:hover {
    background-color: #45a049;
}

.actions button:active {
    background-color: #3e8e41;
}

.actions button[data-key]:before {
    content: attr(data-key) ' - ';
}