.button-back {
    color: #333;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-back i {
    font-size: 18px;
}

.button-back:hover {
    background-color: #7d7e7d;
    color: #ffffff;

}
